.MoviesDataContainer {
    background-color: #272b33;
    padding: 1px;
    padding: 0.1px;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
  }
  
  .ImageLi {
      height: 300px;
      width: 260px;
      border-radius: 13px;
  }
  
  .MoviesUnOrderList {
      list-style-type: none;
  }
  
  .Movieoriginal {
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
  }